:root {
  background-color: var(--bg-color) ;
  --tg-theme-button-color: #2eaddc;
  --tg-theme-button-text-color: white;
  /* Default values (Day Mode) */
  --card-bg-color: #ffffff;
  --button-bg-color: #f1f1f1;
  --button-text-color: #000000;
  --circle-bg-color: #e0e0e0;
  --tap-count-color: #818181;
}

/* Style elements using CSS variables */

.Card {
  background-color: var(--card-bg-color);
  border-radius: 10px;
  padding: 20px;
}

.circle {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-family: Arial, sans-serif;
  text-align: center;
  user-select: none;
  margin-top: 20px;
  cursor: pointer;
}

/* Animation for the tap effect */
@keyframes tapAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95); /* 5% smaller */
  }
  100% {
    transform: scale(1); /* Back to original size */
  }
}

/* Class that triggers the animation */
.animate {
  animation: tapAnimation 0.1s ease;
}

.button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tap-count {
  color: var(--tap-count-color);
  font-size: 1.5rem;
  margin-top: 10px;
}